*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient( 101.9deg,  rgba(239,151,189,1) -13.9%, rgba(204,239,243,1) 34.6%, rgba(227,241,202,1) 54.2%, rgba(237,187,187,1) 88.6% );;
}
.container{
     background-image: radial-gradient( circle 476px at 54.8% 51.5%,  rgba(168,229,253,1) 0%, rgba(244,244,254,1) 42.3%, rgba(244,244,254,1) 100.2% );;
    
    width: 350px;
    height: 400px;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(71, 68, 68, 0.50);   
}
.login-box h2{
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    font-size: 35px;
}
.login-box input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid rgb(207, 200, 200);
}
.Continue{
  display: block;
  text-align: center;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: rgb(235, 71, 71);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}
.login-box p{
    margin: 15px 0;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#twitter{
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
#Facebook{
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #3b5998;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
a:hover{
    opacity: 0.85;
}
